
div.albumTotal{
    background-color: #171717;
    border-radius: 1.5rem;
    width: 100%;
    margin: 1rem;
}
h1.album{
    padding: 1rem 0 0 1rem;
    margin: 0;
    color: white;
    font-family: "Varela Round", sans-serif;
}
div.albumList{
    display: block;
    gap: 1rem;
    padding: 1rem;
}
div.albumSingle{
    display: block;
    text-align: left;
    background-color: #121212;

    border-radius: 1.5rem;
    margin: 1rem 0;
}
h2.album{
    display: inline-block;
    padding: 1rem 0rem 0rem 1rem;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    cursor: pointer;
    color: white;
}
section.playlist{
    display: flex;
}
img.album{
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

div.tracks{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.track{
    display: flex;
    margin:0.3rem 0;
}
p.trackName{
    color: white;
    margin: 0;
}
p.trackAuthor{
    color: grey;
    margin: 0;
}
button.seeMore{
    background-color: transparent;
    color: gray;
    cursor: pointer;
    margin: 0 0 0.5rem 3rem;
    border: 0;

}