h1.profile{
    display: inline-block;
    color: gray;
    margin: 2rem 2rem 2rem 2rem;
    font-family: "Varela Round", sans-serif;
}
span.profile{
    color: #1ED760;
}
img.profile{
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 1rem;
}

@media screen and (max-width: 400px) {
    img.profile{
        right: 0rem;
        width: 3rem;
    }
  }
p.profile{
    color: grey;
    margin: 0 0 0 1rem;
}
span.profileAttach{
    font-size: 1.3rem;
}